<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Gardens</title>
</head>
<body>
<h1>Booking Details</h1>
<div>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="/homepage/"><strong>Home</strong></a>
                </li>
                <li>
                    <a href="/logout"><strong>logout</strong></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<p>Booking ID: {{ .allInfo.BookingID }}</p>
<p>Start Date: {{ .allInfo.StartDate }}</p>
<p>End Date: {{ .allInfo.EndDate }}</p>
<br />

<h2>User Details</h2>
<p>Username: {{ .allInfo.Username }}</p>
<p>Name: {{ .allInfo.Name }}</p>
<p>Email: {{ .allInfo.Email }}</p>
<br />

<h2>Plot Details</h2>
<p>Venue: {{ .allInfo.VenueName }}</p>
<p>Address: {{ .allInfo.Address }}</p>
<p>Plot ID: {{ .allInfo.PlotID }}</p>
<br />

<h2>All Current Bookings</h2>
<table>
    <tr>
        <th>Booking ID</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    {{ range .allInfo.CurrentLeases.Bookings }}
    <tr>
        <td>{{ .BookingID }}</td>
        <td>{{ .StartDate }}</td>
        <td>{{ .EndDate }}</td>
    </tr>
    {{ end }}
</table>
<br />

<h2>Change Booking Dates</h2>
<form method = "POST">

<p>New Desired Start Date:</p>
<input
    type="date"
    name="StartDate"
    placeholder="Start Date of Lease"
/>

<p>New Desired End Date:</p>
<input
    type="date"
    name="EndDate"
    placeholder="End Date of Lease"
/>
 
<br />
<br />

<input type="submit" value="Submit">

</form>
<br />

<h2>Delete Booking</h2>
<p>Please note that deleting a booking cannot be reversed.</p>
<a href="/deletebooking/?booking={{.allInfo.BookingID}}">Delete</a>

</body>
</html>